

.ant-layout-header {
    background-color: #f4e5ff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left, &__right {
        display: flex;
        gap: 20px;
    }
    &__right {
        justify-content: flex-end;
        align-items: center;
    }
}