@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.text {
    display: block;
    @include themify($themes) {
        color: themed("textColor");
    }
}

.rounded-image {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.slider-item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    span {
        font-size: 1.2rem;
        font-weight: 400;
        color: #8e8e8e;
    }
    img {
        border: 0.75px solid #ccc;
        padding: 1px;
        cursor: pointer;
    }
}

.rounded-image-reel {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.slick-slider {
    button {
        &::before {
            color: #23151569;
        }
    }
}

.ant-divider {
    margin-top: 12px !important;
}

.modal-loading {
    width: fit-content !important;
    .ant-modal-close,
    .ant-modal-footer {
        display: none;
    }
}
